<main>
    <a routerLink="/" class="back"><i class="bi bi-arrow-left-circle-fill"></i> Back to Home</a>
    <div class="movies-container">
        <div *ngIf="movie" class="details">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="poster-movie">´
            <div class="text-details">
                <div class="title-container">
                    <h2>{{ movie.original_title }}</h2>
                    <h3>Note: {{ movie.vote_average }} (Total: {{ movie.vote_count }})</h3>
                </div>
                <h4>Year: {{ movie.release_date.slice(0, 4) }}</h4>
                    <div class="genres-div">
                        <h4>Genres: </h4><h4 *ngFor="let genre of genres"> {{ genre.name }}, </h4>
                    </div>
                <p>Overview: <br> {{ movie.overview }}</p>
            </div>
        </div>
    </div>
</main>
