<header>
    <img src="../../../assets/bilhete-rosa-nobg.png" alt="Ticket rosa">
    <nav>
        <select class="input">
            <option default>Ordene por</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <select class="input">
            <option default>Escolha um gênero</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <input type="text" placeholder="Buscar filme">
    </nav>
</header>
