<header>
    <img src="../../../assets/bilhete-rosa-nobg.png" alt="Ticket rosa">
    <nav>
        <select class="input">
            <option default>Order by</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <select class="input">
            <option default>Genre</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>

        <div class="imput-container">
            <input type="text" placeholder="Search">
            <button><i class="bi bi-search"></i></button>
        </div>
    </nav>
</header>
