<main>
    <div class="movies-container">
        <h2>Renderizando Lista de Filmes</h2>
        <ul class="movie-lines-container">
            <li *ngFor="let movie of movies" class="movie">
                Nome: {{ movie.name }} - Year: {{ movie.year }}
            </li>
        </ul>

        <h2>Printando exemplo a partir da requisição Http na tela</h2>
        <div class="movie"> imagem aqui </div>
        <p>detalhes do filme</p>

        <button (click)="showMessage()">Clique para mostrar</button>
        <p *ngIf="show" class="p-teste">Exibindo mensagem!</p>
    </div>
</main>
